@import 'tailwindcss';

@theme {
  --text-primary: hsla(0, 0%, 100%, 0.87);
  --text-secondary: hsla(0, 0%, 100%, 0.6);
  --bg-primary: hsl(0, 0%, 14%);
  --bg-secondary: hsl(0, 0%, 18%);
  --accent-color: hsl(210, 100%, 50%);
  --border-color: hsl(0, 0%, 30%);
}

html[data-theme="light"] {
  --text-primary: hsl(0, 0%, 10%);
  --text-secondary: hsl(0, 0%, 30%);
  --bg-primary: hsl(0, 0%, 100%);
  --bg-secondary: hsl(0, 0%, 95%);
  --accent-color: hsl(210, 100%, 50%);
  --border-color: hsl(0, 0%, 85%);
}

html[data-theme="dark"] {
  --text-primary: hsla(0, 0%, 100%, 0.87);
  --text-secondary: hsla(0, 0%, 100%, 0.6);
  --bg-primary: hsl(0, 0%, 14%);
  --bg-secondary: hsl(0, 0%, 18%);
  --accent-color: hsl(210, 100%, 60%);
  --border-color: hsl(0, 0%, 30%);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
