@import 'tailwindcss';

@theme {
  --color-text-primary: hsl(220, 15%, 88%);
  --color-text-secondary: hsl(220, 10%, 60%);
  --color-bg: hsl(222, 14%, 10%);
  --color-bg-secondary: hsl(222, 16%, 16%);
  --color-accent: hsl(210, 100%, 60%);
  --color-border: hsl(220, 10%, 30%);
}

[data-theme='light'] {
  --color-text-primary: hsl(222, 25%, 10%);
  --color-text-secondary: hsl(220, 10%, 50%);
  --color-bg: hsl(0, 0%, 98%);
  --color-bg-secondary: hsl(0, 0%, 94%);
  --color-accent: hsl(210, 100%, 50%);
  --color-border: hsl(0, 0%, 85%);
}

[data-theme='dark'] {
  --color-text-primary: hsla(0, 0%, 100%, 0.87);
  --color-text-secondary: hsla(0, 0%, 100%, 0.6);
  --color-bg: hsl(0, 0%, 14%);
  --color-bg-secondary: hsl(0, 0%, 18%);
  --color-accent: hsl(210, 100%, 60%);
  --color-border: hsl(0, 0%, 30%);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --error-color: hsl(0, 70%, 50%);
  --error-bg: hsl(0, 70%, 10%, 0.2);
  --error-border: hsl(0, 70%, 50%, 0.5);
  --error-text: hsl(0, 70%, 70%);
}
